@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-merito-bg: #BCE4FA;
  --color-merito-pink: #EF537B;
  --color-merito-pink-hover: #FF4081;
  --color-merito-pink-pressed: #F50057;
  --color-merito-blue: #006EFA;
  --color-merito-blue-dark: #22284F;
}